* {
    box-sizing: border-box;
    font-family:'Courier New', Courier, monospace;
}

h1 {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    box-sizing: border-box;
}

#word-letter-spaces {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#letter-space {
  font-size: 50px;
}

#hidden-word {
  display: none;
}

#definition {
  font-size: 20px;
  text-align: center;
}

#letter {
  background-color: black;
  color: white;
  height: 50px;
  width: 100px;
  margin: 5px;
  border-radius: 5px;
}

ul {
    list-style-type: none;
}

ul li {
    display: inline-block;
    margin: 30px;
}

p {
    text-align: center;
    font-size: 1.5em;
    margin-left: 15%;
    margin-right: 15%;
}

.hide {
    font-size: 1.2em;
}

#buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
}

/* Hides the answer */
#word {
    display: none;
}